<a href="https://colab.research.google.com/github/frfusch21/DTS_GGU_5/blob/Elisabeth-S/tarif_all_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [39]:
df_all = pd.read_csv('all-data_clean.csv')
df_all.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,dist_meters,wait_sec
0,1,Quito,2016-09-17 09:32:06,2016-09-17 10:05:51,0.632055,0.528947,-78.549447,-0.361363,N,2025,24228,346
1,2,Guadalajara Easy Taxi,2016-09-17 09:59:54,2016-09-17 10:06:23,0.327804,0.391950,-103.366600,20.686971,N,389,2962,3675
2,3,Monterrey,2016-09-17 10:06:52,2016-09-17 10:09:40,0.140910,0.563280,-100.165737,25.619387,N,168,951,0
3,4,Monterrey,2016-09-17 09:45:56,2016-09-17 10:13:34,0.207565,0.590416,-100.491721,25.676294,N,1659,11082,358
4,5,Monterrey,2016-09-17 10:12:00,2016-09-17 10:16:31,0.128881,0.580419,-100.104166,25.643862,N,272,2021,3614

In [40]:
df_all['vendor_id'].value_counts()

Quito                      31875
Monterrey                  11149
Aguascalientes             10326
México DF Taxi Libre        7504
México DF Taxi de Sitio     3506
                           ...
Montevideo UberX               1
Salta Remis                    1
Santiago UberSUV               1
Armenia                        1
Brasilia UberBLACK             1
Name: vendor_id, Length: 139, dtype: int64

#Tarif taxi per km

In [4]:
tarif = pd.read_csv('taxi_fare.csv')
tarif.head()

          vendor_id  base_fare  fare_per_km
0            Bogotá       1.16         1.62
1  Bogota UberBlack       0.74         0.24
2      Bogotá UberX       0.54         0.14
3    Bogotá UberVan       1.24         0.31
4  Bogotá UberAngel        NaN          NaN

In [5]:
tarif.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   vendor_id    139 non-null    object
 1   base_fare    110 non-null    float64
 2   fare_per_km  110 non-null    float64
dtypes: float64(2), object(1)
memory usage: 3.4+ KB

In [24]:
#menggabungkan all data dengan data tarif
df_merge = df_all.merge(tarif, how='inner', on='vendor_id')
#menghapus data yang kosong
df_merge= df_merge.dropna()
df_merge

,id,vendor_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,dist_meters,wait_sec,base_fare,fare_per_km
0,1,Quito,2016-09-17 09:32:06,2016-09-17 10:05:51,0.632055,0.528947,-78.549447,-0.361363,N,2025.0,24228.0,346.0,0.55,0.33
1,44,Quito,2016-09-18 04:03:20,2016-09-18 04:26:30,0.436887,0.792406,-78.490786,-0.104836,N,1390.0,16680.0,456.0,0.55,0.33
2,47,Quito,2016-09-16 06:29:36,2016-09-18 06:41:33,0.478847,0.104321,-78.470277,-0.131083,N,130317.0,1987.0,290.0,0.55,0.33
3,49,Quito,2016-09-18 05:57:47,2016-09-18 06:30:00,0.713110,0.679551,-78.430220,-0.201934,N,1933.0,25146.0,302.0,0.55,0.33
4,53,Quito,2016-09-18 07:58:42,2016-09-18 08:14:29,0.674707,0.380694,-78.504558,-0.222462,N,948.0,4625.0,314.0,0.55,0.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70241,66286,Houston UberSelect,2017-05-16 05:49:08,2017-05-16 06:21:49,0.392276,0.743892,-75.155960,39.965479,N,1962.0,7007.0,1201.0,4.00,2.33
70242,61352,Montevideo UberX,2017-03-21 03:47:25,2017-03-21 03:49:29,0.343435,0.741781,-56.166955,-34.857936,N,124.0,26.0,154.0,0.82,0.29
70243,65634,Tijuana UberXL,2017-05-13 11:11:27,2017-05-13 11:17:20,0.339689,0.727167,-117.045230,32.526856,N,354.0,33.0,232.0,0.97,0.41
70244,69404,Salta,2017-05-26 07:33:13,2017-05-26 07:35:38,0.357880,0.665188,-64.971178,-25.797915,N,146.0,539.0,46.0,0.18,0.18
70245,69406,Salta,2017-05-26 07:36:00,2017-05-26 07:39:55,0.357871,0.665475,-64.967498,-25.794986,N,235.0,805.0,76.0,0.18,0.18

In [25]:
#hitung tarif
#tarif km pertama adalah base_fare, dan untuk km selanjutnya adalah base_fare + fare per km
def total_fare(df_merge):
  if df_merge['dist_meters']/1000 < 1:
    return df_merge['base_fare']
  else:
    return df_merge['base_fare']+((df_merge['dist_meters']/1000)*df_merge['fare_per_km'])

In [26]:
#memasukkan hasil perhitungan ke dalam df_merge
df_merge = df_merge.assign(total_fare=df_merge.apply(total_fare, axis=1))
df_merge

,id,vendor_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,dist_meters,wait_sec,base_fare,fare_per_km,total_fare
0,1,Quito,2016-09-17 09:32:06,2016-09-17 10:05:51,0.632055,0.528947,-78.549447,-0.361363,N,2025.0,24228.0,346.0,0.55,0.33,8.54524
1,44,Quito,2016-09-18 04:03:20,2016-09-18 04:26:30,0.436887,0.792406,-78.490786,-0.104836,N,1390.0,16680.0,456.0,0.55,0.33,6.05440
2,47,Quito,2016-09-16 06:29:36,2016-09-18 06:41:33,0.478847,0.104321,-78.470277,-0.131083,N,130317.0,1987.0,290.0,0.55,0.33,1.20571
3,49,Quito,2016-09-18 05:57:47,2016-09-18 06:30:00,0.713110,0.679551,-78.430220,-0.201934,N,1933.0,25146.0,302.0,0.55,0.33,8.84818
4,53,Quito,2016-09-18 07:58:42,2016-09-18 08:14:29,0.674707,0.380694,-78.504558,-0.222462,N,948.0,4625.0,314.0,0.55,0.33,2.07625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70241,66286,Houston UberSelect,2017-05-16 05:49:08,2017-05-16 06:21:49,0.392276,0.743892,-75.155960,39.965479,N,1962.0,7007.0,1201.0,4.00,2.33,20.32631
70242,61352,Montevideo UberX,2017-03-21 03:47:25,2017-03-21 03:49:29,0.343435,0.741781,-56.166955,-34.857936,N,124.0,26.0,154.0,0.82,0.29,0.82000
70243,65634,Tijuana UberXL,2017-05-13 11:11:27,2017-05-13 11:17:20,0.339689,0.727167,-117.045230,32.526856,N,354.0,33.0,232.0,0.97,0.41,0.97000
70244,69404,Salta,2017-05-26 07:33:13,2017-05-26 07:35:38,0.357880,0.665188,-64.971178,-25.797915,N,146.0,539.0,46.0,0.18,0.18,0.18000
70245,69406,Salta,2017-05-26 07:36:00,2017-05-26 07:39:55,0.357871,0.665475,-64.967498,-25.794986,N,235.0,805.0,76.0,0.18,0.18,0.18000

In [27]:
df_merge['total_fare'].describe()

count    6.528200e+04
mean     1.455765e+02
std      1.197437e+04
min      1.800000e-01
25%      1.460000e+00
50%      2.746380e+00
75%      5.570692e+00
max      1.052268e+06
Name: total_fare, dtype: float64

#Tarif/menit (53 data vendor)

In [29]:
tarif2 = pd.read_csv('uber and cabity.csv')
tarif2.head()

           vendor_id  base_fare  fare_per_km  fare_per_minute  minimum_charge
0   Bogota UberBlack       0.74         0.24             0.04            1.47
1       Bogotá UberX       0.54         0.14             0.03            1.29
2     Bogotá UberVan       1.24         0.31             0.07            2.21
3              Quito       0.55         0.33             0.10            1.75
4  Quito Cabify Lite       0.55         0.23             0.05            1.53

In [30]:
#menggabungkan all data dengan data dan menghapus data yang kosong
df_merge2 = df_all.merge(tarif2, how='inner', on='vendor_id')
df_merge2= df_merge2.dropna()
df_merge2

,id,vendor_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,dist_meters,wait_sec,base_fare,fare_per_km,fare_per_minute,minimum_charge
0,1,Quito,2016-09-17 09:32:06,2016-09-17 10:05:51,0.632055,0.528947,-78.549447,-0.361363,N,2025.0,24228.0,346.0,0.55,0.33,0.10,1.75
1,44,Quito,2016-09-18 04:03:20,2016-09-18 04:26:30,0.436887,0.792406,-78.490786,-0.104836,N,1390.0,16680.0,456.0,0.55,0.33,0.10,1.75
2,47,Quito,2016-09-16 06:29:36,2016-09-18 06:41:33,0.478847,0.104321,-78.470277,-0.131083,N,130317.0,1987.0,290.0,0.55,0.33,0.10,1.75
3,49,Quito,2016-09-18 05:57:47,2016-09-18 06:30:00,0.713110,0.679551,-78.430220,-0.201934,N,1933.0,25146.0,302.0,0.55,0.33,0.10,1.75
4,53,Quito,2016-09-18 07:58:42,2016-09-18 08:14:29,0.674707,0.380694,-78.504558,-0.222462,N,948.0,4625.0,314.0,0.55,0.33,0.10,1.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28401,61086,Houston UberSelect,2017-03-20 12:29:44,2017-03-20 12:44:15,0.354718,0.192284,-63.123888,-17.831298,N,871.0,10641.0,57.0,4.00,2.33,0.78,12.00
28402,61092,Houston UberSelect,2017-03-20 01:03:45,2017-03-20 01:10:14,0.353191,0.194952,-63.181951,-17.812335,N,389.0,2131.0,139.0,4.00,2.33,0.78,12.00
28403,66286,Houston UberSelect,2017-05-16 05:49:08,2017-05-16 06:21:49,0.392276,0.743892,-75.155960,39.965479,N,1962.0,7007.0,1201.0,4.00,2.33,0.78,12.00
28404,61352,Montevideo UberX,2017-03-21 03:47:25,2017-03-21 03:49:29,0.343435,0.741781,-56.166955,-34.857936,N,124.0,26.0,154.0,0.82,0.29,0.11,1.92
28405,65634,Tijuana UberXL,2017-05-13 11:11:27,2017-05-13 11:17:20,0.339689,0.727167,-117.045230,32.526856,N,354.0,33.0,232.0,0.97,0.41,0.10,2.18

In [42]:
#menghitung tarif berdasarkan trip duration
#tarif per menit berlaku apa bila kecepatan taxi <= tarif per menit/tarif per km, selain daripada itu berlaku tarif normal
def fare(df_merge2):
  if (df_merge2['dist_meters']/1000)/(df_merge2['trip_duration']/3600) <= (60*df_merge2['fare_per_minute'])/df_merge2['fare_per_km']:
    return df_merge2['base_fare']+((df_merge2['trip_duration']/60)*df_merge2['fare_per_minute'])
  else:
    return df_merge2['base_fare']+((df_merge2['dist_meters']/1000)*df_merge2['fare_per_km'])
df_merge2 = df_merge2.assign(fare=df_merge2.apply(fare, axis=1))

In [43]:
df_merge

,id,vendor_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,dist_meters,wait_sec,base_fare,fare_per_km,total_fare
0,1,Quito,2016-09-17 09:32:06,2016-09-17 10:05:51,0.632055,0.528947,-78.549447,-0.361363,N,2025.0,24228.0,346.0,0.55,0.33,8.54524
1,44,Quito,2016-09-18 04:03:20,2016-09-18 04:26:30,0.436887,0.792406,-78.490786,-0.104836,N,1390.0,16680.0,456.0,0.55,0.33,6.05440
2,47,Quito,2016-09-16 06:29:36,2016-09-18 06:41:33,0.478847,0.104321,-78.470277,-0.131083,N,130317.0,1987.0,290.0,0.55,0.33,1.20571
3,49,Quito,2016-09-18 05:57:47,2016-09-18 06:30:00,0.713110,0.679551,-78.430220,-0.201934,N,1933.0,25146.0,302.0,0.55,0.33,8.84818
4,53,Quito,2016-09-18 07:58:42,2016-09-18 08:14:29,0.674707,0.380694,-78.504558,-0.222462,N,948.0,4625.0,314.0,0.55,0.33,2.07625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70241,66286,Houston UberSelect,2017-05-16 05:49:08,2017-05-16 06:21:49,0.392276,0.743892,-75.155960,39.965479,N,1962.0,7007.0,1201.0,4.00,2.33,20.32631
70242,61352,Montevideo UberX,2017-03-21 03:47:25,2017-03-21 03:49:29,0.343435,0.741781,-56.166955,-34.857936,N,124.0,26.0,154.0,0.82,0.29,0.82000
70243,65634,Tijuana UberXL,2017-05-13 11:11:27,2017-05-13 11:17:20,0.339689,0.727167,-117.045230,32.526856,N,354.0,33.0,232.0,0.97,0.41,0.97000
70244,69404,Salta,2017-05-26 07:33:13,2017-05-26 07:35:38,0.357880,0.665188,-64.971178,-25.797915,N,146.0,539.0,46.0,0.18,0.18,0.18000
70245,69406,Salta,2017-05-26 07:36:00,2017-05-26 07:39:55,0.357871,0.665475,-64.967498,-25.794986,N,235.0,805.0,76.0,0.18,0.18,0.18000

In [44]:
df_merge2['fare'].describe()

count     28349.000000
mean         94.654053
std        4322.271756
min           0.291000
25%           1.520000
50%           2.350810
75%           4.296490
max      708670.153510
Name: fare, dtype: float64